.form {
    display: inline-block;
    max-width: 400px;
    padding: 20px;
    background-color: #b1a9a9;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 10%;
    width: 70%;
    background: linear-gradient(#3c3b3b, #8e8888) padding-box,
    linear-gradient(to right, darkblue, darkorchid) border-box;
    border-radius: 1em;
    border: 4px solid transparent;

}

body {
    text-align: center;
}

.form input[type="text"],
.form input[type="number"],
.form input[type="checkbox"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}

.form label {
    display: block;
    margin-bottom: 5px;
}

.form button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-image: linear-gradient(to bottom right, #6319bd, #cc109f);
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form button:hover {
    background-color: #0056b3;
}
